<html>

<head>
    <title>QuickMemo</title>
    <link href="/public/home.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="nav-container">
            <div class="menu-container">
                <button class="menu" type="menu">&#9776;</button>
            </div>
            <div class="Logo">
                <img class="icon" src="/public/logo.png" alt="QuickMemo">
            </div>
            <div class="QuickMemo">
                <a href="./index.html">
                    <h1>QuickMemo</h1>
                </a>
            </div>
            <div class="search-container">
                <input class="Search" type="search" placeholder="Search your notes" spellcheck="true">
                <button class="search-btc" id="btcSearch">Search</button>
            </div>
            <div class="setting-container">
                <img class="setting" src="/public/image.png">
            </div>
            <div class="profile-container">
                <h1 class="profile">R</h1>
            </div>
        </div>
    </header>

    <!-- main -->
    <hr>
    <main>
        <div class="main-container">
            <aside>
                <nav>
                    <ul>
                        <li><a href="./home.html">Notes</a></li>
                        <li><a href="#">Reminders</a></li>
                        <li><a href="#">Archive</a></li>
                        <li><a href="#">Trash</a></li>
                    </ul>
                </nav>
            </aside>
            <section class="notes-section">
                <div class="takeNotes-container">

                    <a href="#"> <input type="text" placeholder="Take a Notess ...."> </a>
                </div>

                <div class="recent">
                    <h1>Recent Notes</h1>
                </div>



                <% if (notesData!="" ) { %>
                    <div class="notes-conatiner">
                        <% notesData.forEach((row,index)=> { %>

                            <div class="notes-show">

                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <%=row.Heading %>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <%=row.Note %>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <% }) %>
                    </div>

                    <% } %>


            </section>
        </div>
    </main>
</body>

</html>