<html>

<head>
    <title>QuickMemo</title>
    <link href="./assets/home.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="nav-container">
            <div class="menu-container">
                <button class="menu" type="menu">&#9776;</button>
            </div>
            <div class="Logo">
                <img class="icon" src="./assets/logo.png" alt="QuickMemo">
            </div>
            <div class="QuickMemo">
                <a href="./index.html">
                    <h1>QuickMemo</h1>
                </a>
            </div>
            <div class="search-container">
                <input class="Search" type="search" placeholder="Search your notes" spellcheck="true">
                <button class="search-btc" id="">Search</button>
            </div>
            <div class="setting-container">
                <img class="setting" src="./assets/image.png">
            </div>
            <div class="profile-container">
                <h1 class="profile">R</h1>
            </div>
        </div>
    </header>
    <!-- main -->
    <hr>
    <main>
        <div class="main-container">
            <aside>
                <nav>
                    <ul>
                        <li><a href="./home.html">Notes</a></li>
                        <li><a href="#">Reminders</a></li>
                        <li><a href="#">Archive</a></li>
                        <li><a href="#">Trash</a></li>
                    </ul>
                </nav>
            </aside>
            <section class="notes-section">
                <div class="takeNotes-container">
                    <input type="text" placeholder="Take a Notess ....">
                </div>

                <div class="recent-container">
                    <h1 >Recent Notes</h1>
                </div>

                <div  class="notes-conatiner">
                    <div class="notes-show">
                    <table >
                        <tr>
                            <th>Heading</th>

                        </tr>
                        <tr>
                            <td>notes here The div element has no special meaning at all. It represents its children. It can be used with the class, lang, and title attributes to mark up semantics common to a group of consecutive elements.</td>
                        </tr>
                    </table>
                    </div>
                    <div class="notes-show">
                    <table >
                        <tr>
                            <th>Heading</th>

                        </tr>
                        <tr>
                            <td>notes here The div element has no special meaning at all. It represents its children. It can be used with the class, lang, and title attributes to mark up semantics common to a group of consecutive elements.</td>
                        </tr>
                    </table>
                    </div>
                    <div class="notes-show">
                    <table >
                        <tr>
                            <th>Heading</th>

                        </tr>
                        <tr>
                            <td>notes here The div element has no special meaning at all. It represents its children. It can be used with the class, lang, and title attributes to mark up semantics common to a group of consecutive elements.</td>
                        </tr>
                    </table>
                    </div>
                    <br>
                    <div class="notes-show">
                    <table >
                        <tr>
                            <th>Heading</th>

                        </tr>
                        <tr>
                            <td>notes here The div element has no special meaning at all. It represents its children. It can be used with the class, lang, and title attributes to mark up semantics common to a group of consecutive elements.</td>
                        </tr>
                    </table>
                    </div>
                    <br>
                    <div class="notes-show">
                    <table >
                        <tr>
                            <th>Heading</th>

                        </tr>
                        <tr>
                            <td>notes here The div element has no special meaning at all. It represents its children. It can be used with the class, lang, and title attributes to mark up semantics common to a group of consecutive elements.</td>
                        </tr>
                    </table>
                    </div>
                    <div  class="notes-show">
                    <table >
                        <tr>
                            <th>Heading</th>

                        </tr>
                        <tr>
                            <td>notes here</td>
                        </tr>
                    </table>
                    </div>
                    
                </div>

            </section>
        </div>
    </main>
</body>

</html>