<html>

<head>
    <title>Login</title>
    <!-- <link href="./assets/index.css"  type="text/css" rel="stylesheet"> -->
    <link rel="stylesheet"  href="/public/index.css">
</head>

<body>
    <header>
        <div class="nav-container">
            <div class="menu-container">
                <button class="menu" type="menu">&#9776;</button>
            </div>
            <div class="Logo">
                <img class="icon" src="/public/logo.png" alt="QuickMemo">
            </div>
            <div class="QuickMemo">
                <h1>QuickMemo</h1>
             </div>
            <div class="search-container">
                <input class="Search" type="search" placeholder="Search your notes" spellcheck="true">
                <button class="search-btc" id="">Search</button>
            </div>

            <div class="setting-container">
                <img class="setting" src="/public/image.png">
            </div>
            <div class="profile-container">
                <h1 class="profile">&#9787;</h1>  
            </div>
        </div>
    </header>
    <hr class="hr1">

    <!-- main body list -->



    <div class="main-Container">
        <div class="tagline">
            <h2>The simple note-taking app</h2>
            <h3 style="font-size: 25px; padding-top: 20px; ">Get Started</h3>
        </div>

        <div class="login">

            <form  method="post" action="/">
              
                <div class="login-form">
                    <div class="login-email">
                        <input class="email" type="text" name="name" id="name" placeholder="Full name" required>
                    </div>
                    <div class="login-email">
                        <input class="email" type="email" name="Email"  id="Email" placeholder="Email" required>
                    </div>
                    <div class="login-password">
                        <input class="password" type="password" name="Password" id="Password"  placeholder="Password" required>
                    </div>
                </div>
               
                <div class="Continue">
                    <button class="login-continue" id="login" >Sign Up</button>
                </div>
            </form>

        </div>
        <div class="google-login">
            <a class="btc-googlel-login" href="/login">Log in</a>
        </div>



      

    </div>

</body>

</html>