<html>

<head>
    <title>Login</title>
    <link href="./assets/index.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="nav-container">
            <div class="menu-container">
                <button class="menu" type="menu">&#9776;</button>
            </div>
            <div class="Logo">
                <img class="icon" src="./assets/logo.png" alt="QuickMemo">
            </div>
            <div class="QuickMemo">
                <a href="./index.html">
                    <h1>QuickMemo</h1>
                </a>
            </div>
            <div class="search-container">
                <input class="Search" type="search" placeholder="Search your notes" spellcheck="true">
            </div>
            <div class="btc-search">
                <button class="search-btc" id="">Search</button>
            </div>
            <div class="setting-container">
                <img class="setting" src="../website degine/image.png">
            </div>
            <div class="profile-container">
                <h1 class="profile">R</h1>
            </div>
        </div>
    </header>
    <hr class="hr1">

    <main>



        <div class="main-Container">
            <div class="tagline">
                <h2>The simple note-taking app</h2>
                <h3>Get Started</h3>
            </div>

            <div class="login">

                <form action="" method="post">
                    <div class="login-form">

                        <div class="login-email">
                            <label>Email</label><input type="email" name="" id="">
                        </div>
                        <div class="login-password">
                            <label>Password</label><input type="password" name="" id="">
                        </div>
                    </div>
                    <div class="Continue">
                        <button type="submit">Sinup/Login</button>
                    </div>
                </form>

                <div class="google-login">
                    <Button type="submit">Continue with Google</Button>
                </div>
            </div>



            <div class="img">
                <div class="img1">
                    <img src="https://cdn.usegalileo.ai/sdxl10/e899a9da-b0bd-4245-98c2-9c508c9f68c5.png" alt="people">
                </div>
                <div class="img2">
                    <img src="https://cdn.usegalileo.ai/stability/d740cba3-635a-4189-8cbe-ae03fb8e372c.png"
                        alt="people">
                </div>
            </div>

        </div>

    </main>

</body>

</html>