/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body,
html {
    font-family: "Work Sans", "Noto Sans", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #000;
}

/* Navigation Styles */
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.menu-container,
.search-container,
.btc-search,
.setting-container,
.profile-container {
    display: flex;
    align-items: center;

}

.menu {
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 20px;

}

.icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.QuickMemo h1 {
    font-size: 24px;

}

.Search {
    width: 650px;
    height: 45px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    padding: 0 10px;
    transition: width 0.3s ease;
    margin-left: 50px;
    justify-content: center;
}

.Search:focus {
    width: 400px;
}

.search-btc {
    height: 45px;
    width: 80px;
    background-color: #D4CE50;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.search-btc:hover {
    background-color: #c4be40;
}

.setting {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 20px;
}

.profile {
    display: inline-block;
    background-color: #FF666E;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
}





/* Main Content Styles */
.main-Container {
    text-align: center;
    padding: 100px 20px 50px 20px;
    margin: 100px 250px 200px 250px ;
    border-radius: 10px;
    border: 2px solid #f7cb45e5;
    background-color: #f7f6e6;
    
    
}


.tagline h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.tagline h3 {
    font-size: 25px;
    padding-top: 20px;
}

.login {
    margin-top: 40px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
}

.login-email,
.login-password {
    margin-bottom: 15px;
}

.email,
.password {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    /* border: 1px solid #ccc; */
    font-size: 18px;
    outline: none;
}

.Continue {
    margin-top: 20px;
}

.login {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.login-continue {
    background-color: #ebe451;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}


.google-login {
    margin-top: 20px;
}

.btc-googlel-login {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #ebe451;
    color: rgb(81, 52, 52);
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}






/* Responsive Design */


@media (max-width: 1200px) {
    .Search {
        width: 250px;
    }

    .Search:focus {
        width: 300px;
    }
    .main-Container{
        margin: 100px 200px 100px 200px ;
    }
}

@media (max-width: 769px) {
    .nav-container {
        /* flex-direction: column;  */
        align-items: flex-start;
    }
    .main-Container{
        margin: 50px 100px 50px 100px ;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    .search-container,
    .btc-search {
        flex: 1;

    }

    .QuickMemo {
        margin-right: 0;
    }

    .btc-search {
        margin-left: 0;
        margin-top: 10px;
    }

    .search-container {
        width: 100%;
    }

    .search-btc {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        height: 30px;
    }

    .Search {
        width: 100%;
        height: 30px;
    }

    .Search:focus {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .tagline h2 {
        font-size: 24px;
    }

    .tagline h3 {
        font-size: 18px;
    }

    .login-form {
        width: 100%;
        padding: 10px;
    }

    .login-form input {
        width: 100%;
    }

    .search-btc,
    .btc-googlel-login {
        width: 100%;
    }
}